{% extends "base2.html" %}
	{%block content%}
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6"><iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="300" height="250" SRC="http://ad.adnetwork.net/st?ad_type=iframe&ad_size=300x250&section=3522159" ></iframe></div>
		<div class="span6"><iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="300" height="250" SRC="http://ad.adnetwork.net/st?ad_type=iframe&ad_size=300x250&section=3522159" ></iframe></div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12"><iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="728" height="90" SRC="http://ad.adnetwork.net/st?ad_type=iframe&ad_size=728x90&section=3522159" ></iframe></div>
	</div>
</div>
	<div class="alert alert-error">
	{{error}}
	</div>
	{%endblock%}